<p>Whatever your Hearts Desire</p>

<!-- Pass in data from server.js -->

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            {{#each quotes}}
            <a href=`/${{{this.id}}}`> <tr>
                <h2>{{this.region_name}}</h2>
                <p>{{this.updatedAt}}</p>
                <p>{{this.post}}</p>
                </tr>
            </a>
            {{/each}}
        </thead>
        <tbody id="dataRow"></tbody>
    </table>
</div>