<p>Whatever your Hearts Desire</p>

<!-- Pass in data from server.js -->

<div class="card-body">
    <table class="table table-bordered" style="width: 100%">
        {{#each regions}}
        <a href='/{{this.id}}'>
            <tr>
                <th>
                    <h2>{{this.region_name}}</h2>
                </th>
                <th>
                    <p>{{this.updatedAt}}</p>
                    <p>{{this.post}}</p>
                </th>
            </tr>
        </a>
        {{/each}}
    </table>
</div>