<h3>What Does Your Heart Desire</h3>

<!-- Pass in data from server.js -->

<div class="card-body">
    <table class="table table-bordered" style="width: 100%">
        {{#each regions}}
        <tr>
            <th>
                <a href='/{{this.url_region_name}}'>
                    <h2>{{this.formal_region_name}}</h2>
                </a>
            </th>
            <th>
                <p>{{this.updatedAt}}</p>
                <p>{{this.posts}}</p>
            </th>
        </tr>
        </a>
        {{/each}}
    </table>
</div>