<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Lets Get Cook'n!!</h5>
          {{#each foods}}
          <p>
            <strong>Author</strong>: {{this.author_name}}
          </p>
          <p>
            <strong>Foodie Choice</strong>: {{this.food_name}}
          </p>
          <p>
            <strong>Recipe</strong>: {{this.ingredients}}
          </p>
          <p>
            <strong>Description</strong>: {{this.directions}}
          </p>
          <button type="button" class="btn btn-default btn-sm" id="upvote">
            <span class="glyphicon glyphicon-star"></span> Star
          </button>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/foobar.js"></script>