<h7>My Profile</h7>
​
<div class="card-body">
  <table class="table table-bordered" style="width: 100%">
    {{#each users}}
    <tr>
      <th>
        Foods Created: {{/each}}{{#each foods}}{{this.id}}, {{/each}}
        </a>
      </th>
      {{#each users}}
      <th>
        username: {{this.username}}
      </th>
      {{/each}}
    </tr>
  </table>
</div>