<div class="container">
    <form id="form">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="submit" id="login">
                Sign In
            </button>
            <button type="submit" id="registration">
                Register
            </button>
        </div>
        <div id="email">

        </div>
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" id="username" placeholder="Username..." required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary" id="signin">Submit</button>
    </form>
    
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Submission Error</h4>
            <p>Invalid username and/or password. Username must be more than 5 characters in length. Password must be
                more than 7 characters in length.</p>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Submission Error</h4>
            <p>Invalid email address.</p>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <p>You've logged in.</p>
        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <h4>Submission Error</h4>
            <p>You did not enter the right credentials.</p>
        </div>
    </div>
</div>

<script src="assets/js/sign-in.js"></script>